# ------------------------
# Push later (WIP)
# ------------------------

# ------------------------
# Unused files
# ------------------------
/model/preprocessing.py
/model/modelling.py

/model/t-download-artifacts.py
/model/t-regist-model.py
/model/t-verify-model-registry.py
/model/t-get_raw_sample_input.py

/monitoring/X-library-check.py
/monitoring/drift_report.html
/monitoring/drift_tests.html
/monitoring/model_drift_report.html
/monitoring/test_bq.py
/monitoring/check_dtypes_reference.py

/data/current/current.jsonl

# ------------------------
# Python cache & build files
# ------------------------
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# ------------------------
# Virtual environments
# ------------------------
.venv/
venv/
env/
ENV/

# ------------------------
# Environment & credentials
# ------------------------
.env
*.env

# ------------------------
# Logs
# ------------------------
*.log
logs/
*.out
*.err

# ------------------------
# DVC cache & temp
# ------------------------
.dvc/cache/
.dvc/tmp/

# ------------------------
# DVC-tracked data & model files (actual large content)
# The corresponding .dvc pointer files will still be tracked by Git
# ------------------------
data/raw/*
!data/raw/*.dvc

data/processed/*
!data/processed/*.dvc

# ------------------------
# MLflow local artifacts
# ------------------------
mlruns/
!mlruns/.gitkeep
